.container {
    background: url(../../assets/images/bgimg.png);
    --background-overlay: ''
        background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}