.container {
    background:
        linear-gradient(rgba(255, 250, 232, 0.103), rgba(255, 250, 232, 0.7)),
        /* Overlay */
        url(../../assets/images/bgimg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // background: #fffae8;
}