.polaroid {
    width: 300px;
    background: #1A1A1A;
    padding: 10px 10px 25px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease;
    margin: 20px;
    color: #fff;

    &:hover {
        transform: scale(1.03);
    }
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
}


.image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
}

.category {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    margin-top: 10px;
    font-size: 14px;
}

.meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.metaItem {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.icon {
    width: 16px;
    height: 16px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #BBBBBB;
}